.ecp__container__post-v2 {
  & .ecp__container__head {
    display: flex;
    gap: 24px;
    align-items: end;
    margin-bottom: 24px;
    flex-wrap: wrap;

    & .ecp__header__label {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 7px;
      letter-spacing: 0.48px;
      color: #000;
      font-weight: 500;
      font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;
    }

    & .ecp__container__search {
      display: flex;
      width: 100%;
      max-width: 340px;
      gap: 16px;

      & .ecp__search__btn {
        height: fit-content;
        cursor: pointer;
        color: #333;

        &:hover {
          color: #0B51C1;
        }
      }

      & .ecp__icon {
        & svg {
          width: 12px;
        }
      }

      & .ecp__search {
        display: flex;
        border: 1px solid #ccc;
        border-bottom: 2px solid #0B51C1;
        padding: 7px 16px;
        gap: 12px;
        height: 38px;
        width: 100%;
        border-radius: 4px;

        & input {
          background: transparent;
          border: none;
          color: #333;
          font-size: 14px;
          cursor: pointer;
          line-height: 24px;
          letter-spacing: 0.28px;
          width: 100%;
          font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;

          :focus {
            outline: none;
          }
        }

        &:hover {
          border-color: #03378A;
          border-bottom: 2px solid #0B51C1;
        }
      }
    }

    & .ecp__container__select {
      position: relative;
      width: 100%;
      max-width: 240px;

      & .ecp__selected {
        width: 100%;
        display: flex;
        padding-right: 16px;
        border-radius: 4px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-bottom-width: 2px;

        &.--open {
          & .ecp__icon {
            transform: rotate(180deg);
          }
        }

        &[disabled] {
          border-color: #E7E7E7 !important;
          border-bottom: 2px solid #E7E7E7 !important;
          cursor: not-allowed;

          & .ecp__icon {
            cursor: not-allowed;

            & svg {
              fill: #E7E7E7;
            }
          }
        }

        &:hover {
          border-color: #03378A;
          border-bottom: 2px solid #0B51C1;
        }

        &:not(.--open) {
          border-bottom: 2px solid #0B51C1;
        }

        & .ecp__input {
          width: 100%;
          position: relative;
        }
      }

      & .ecp__options {
        bottom: 0;
        width: 100%;
        z-index: 20;
        display: none;
        position: absolute;
        border-radius: 4px;
        background-color: #fff;
        transform: translateY(100%);
        border: 1px solid #ccc;
        border-bottom: 2px solid #0B51C1;
        padding-bottom: 2px;

        & .ecp__option {
          color: #333;
          font-size: 14px;
          cursor: pointer;
          line-height: 24px;
          padding: 10px 16px;
          letter-spacing: 0.28px;
          font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;

          &:hover,
          &.--active {
            background-color: #F0F6FF;
          }
        }
      }

      & .ecp__input {
        color: #787878;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.28px;
        font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 8px;
        margin-right: 4px;
        padding: 7px 16px;
        scrollbar-width: none;
        max-height: 39px;

        &::-webkit-scrollbar {
          display: none;
        }

        &:hover {
          scrollbar-width: none;
        }

        & .ecp__chosen {
          border: 1px solid #ccc;
          border-radius: 12px;
          padding: 4px 8px;
          height: 24px;
          color: #333333;
          width: fit-content;
          display: flex;
          gap: 8px;
          align-items: center;
          white-space: nowrap;

          & .ecp__removable__icon {
            display: flex;
            cursor: pointer;

            & svg path {
              stroke: #333;
            }

            &:hover svg path {
              stroke: #03378A;
            }

            &:active svg path {
              &:first-of-type {
                fill: #03378A;
                stroke: #03378A;
              }

              stroke: #fff;
            }
          }
        }
      }

      & label {
        color: #000;
        font-size: 12px;
        line-height: 13.73px;
        font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;
        margin-bottom: 10px;
      }
    }

    & .ecp__icon {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;

      & svg {
        width: 16px;
      }
    }
  }

  & .ecp__container__body {
    .ecp__no-posts {
      color: #000;
      font-size: 12px;
      line-height: 13.73px;
      font-family: var(--e-global-typography-5df3841-font-family), Sans-serif, serif;
    }

    & .ecp__posts {
      gap: var(--gap, 0);

      flex-wrap: var(--flex-wrap, nowrap);
      align-items: var(--align-items, start);
      flex-direction: var(--flex-direction, col);
      justify-content: var(--justify-content, flex-start);

      grid-auto-flow: var(--grid-auto-flow, row);
      justify-items: var(--justify-items, start);
      grid-template-rows: var(--e-con-grid-template-rows, 1);
      grid-template-columns: var(--e-con-grid-template-columns, 3);

      & .ecp__post {
        display: flex;
        height: 100%;
        gap: var(--gap, 1rem);
        flex-wrap: var(--flex-wrap, nowrap);
        align-items: var(--align-items, start);
        flex-direction: var(--flex-direction, col);
        justify-content: var(--justify-content, flex-start);
      }
    }
  }

  & .ecp__container__footer {
    display: flex;
    gap: var(--gap, 1rem);
    flex-wrap: var(--flex-wrap, nowrap);
    align-items: var(--align-items, start);
    flex-direction: var(--flex-direction, col);
    justify-content: var(--justify-content, flex-start);

    & .ecp__pagination {
      display: flex;
      align-items: center;
      gap: var(--space-between, 0);
      & .ecp__bullet {
        width: 8px;
        height: 8px;
        transition: all 0.3s ease;
        transform: translate(var(--transform-translate-x, 0), var(--transform-translate-y, 0)) rotate(var(--transform-rotate, 0));
      }
    }

    & .ecp__navigation {
      display: flex;
      gap: var(--space-between, 0);

      & .ecp__navigation__btn {
        display: flex;

        &:not([disabled="disabled"]) {
          cursor: pointer;
        }
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .ecp__spacer {
    flex-grow: 1;
  }

  @media screen and (max-width: 768px) {
    .ecp__container__head {
      margin-bottom: 32px !important;
    }
    .ecp__container__select {
      max-width: 100% !important;
    }

    .ecp__container__search {
      max-width: 100% !important;
    }

    .ecp__container__search {
      flex-direction: column;
      margin-top: 8px;

      .ecp__search {
        max-width: 100% !important;
      }

      .ecp__search__btn {
        width: fit-content;
      }
    }

    .ecp__spacer {
      display: none;
    }
  }
}
