.menu-item-bar {
  display: flex;
  
  & .menu-item-handle {
    width: 414px;
  }

  & .ecp__btn__open {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-weight: 600;
    line-height: 1.53846153;
    background: #f6f7f7;
    border: 1px solid #dcdcde;
    border-left: 0px;
    padding: 10px 15px;
    transition: all 0.5s ease;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    & .ecp__btn__open {
      opacity: 1;
    }
  }
}

.ecp__container__mega-menu {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: #00000046;
  z-index: 99;


  & .dialog {
    width: 700px;
    background-color: white;
    border: 1px solid #e8e8e8;
    
    &__header {
      padding: 10px;
      color: black;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;

      & .header {
        &__close {
          cursor: pointer;
        }

        &__title {
          font-weight: 500;
        }
      }
    }

    &__content {
      padding: 24px;
      & .content {
        &__title {
          width: 100%;
          padding: 10px 7px;
          background-color: #f5f3f3;
        }
      }

      & .slider {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 32px;

        & input {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + .slider__round {
            background-color: #2271b1;
          }
          
          &:focus + .slider__round {
            box-shadow: 0 slider__round 1px #2271b1;
          }
          
          &:checked + .slider__round:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
          }
        }

        .slider__round {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 32px;
        }
        
        .slider__round:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: end;
      border-top: 1px solid #e8e8e8;
      padding: 5px;
    }
  }

  .--line {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 7px;
    padding-right: 7px;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & h4 {
      min-width: 200px;
    }
  }

  .--ecp-btn {
    min-height: 32px;
    height: fit-content;
    line-height: 2.30769231;
    padding: 0 12px;
    border: 1px solid #2271b1;
    background: #2271b1;
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
  }
}

.ecp__elementor {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;

  & .mm_iframe {
    width: 100%;
    height: 100%;
  }

  & .btn__close {
    position: absolute;
    top: 0;
    right: 0px;
    height: 48px;
    width: 40px;
    background-color: #f0abfc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 0;
    transition: opacity 0.5s ease;

    &:hover {
      background: #eb8efb;
    }
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeSmall.MuiButton-containedSizeSmall.MuiButton-colorPrimary.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedHorizontal.MuiButtonGroup-groupedContainedPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeSmall.MuiButton-containedSizeSmall.MuiButton-colorPrimary.MuiButtonGroup-grouped.MuiButtonGroup-groupedHorizontal.MuiButtonGroup-groupedContained.MuiButtonGroup-groupedContainedHorizontal.MuiButtonGroup-groupedContainedPrimary.MuiButtonGroup-lastButton.css-tvc4s1 {
  margin-right: 40px !important;
}