.ecp__container__mm {
  position: relative;

  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .ecp__nav {
    display: flex;
    flex-direction: var(--flex-direction, row);
    align-items: var(--align-items, center);
    justify-content: var(--justify-content, flex-start);
    gap: var(--gap, 1rem);
    flex-wrap: var(--flex-wrap, nowrap);

    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .ecp__mega__menu {
        display: flex;
        flex-direction: var(--flex-direction, row);
        align-items: var(--align-items, center);
        justify-content: var(--justify-content, flex-start);
        gap: var(--gap, 1rem);
        flex-wrap: var(--flex-wrap, nowrap);

        & .ecp__mm__content {
          display: none;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 999;
          transform: translateY(calc(100% - 1px));
        }
      }
    }

    &__mobile {
      display: none;
      flex-direction: var(--flex-direction, column);
      align-items: var(--align-items, center);
      justify-content: var(--justify-content, center);
      gap: var(--gap, 1rem);
      flex-wrap: var(--flex-wrap, nowrap);

      &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }

      & .ecp__nav__list {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;

        & .ecp__mega_menu_mobile {
          display: flex;
          flex-direction: var(--flex-direction, column);
          align-items: var(--align-items, center);
          justify-content: var(--justify-content, flex-start);
          gap: var(--gap, 1rem);
          flex-wrap: var(--flex-wrap, nowrap);

          & .ecp__mm__mobile__content {
            display: none;
          }

          & li {
            width: 100%;
          }
        }
      }
    }

    &__logo {
      display: flex;
    }
  }

  & ul {
    list-style: none;

    & a {
      display: flex;
      align-items: center;
      text-decoration: none;
      width: auto;

      &.ecp__nav__logo[href="/"] {
        margin: 0;
        padding: 0;
      }
    }
  }

  & .ecp__burger__checkbox {
    input[type="checkbox"] {
      display: none;
    }

    & label {
      display: block;
      cursor: pointer;
      width: 40px;
      height: 40px;

      & circle {
        fill: #fff3;
        opacity: 0;
        transform: scale(1.6);
      }

      & path {
        fill: none;
        transform: scale(1.6);
        stroke: #000;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        --length: 24;
        --offset: -38;
        stroke-dasharray: var(--length) var(--total-length);
        stroke-dashoffset: var(--offset);
        transition: all .6s cubic-bezier(.645, .045, .355, 1);
      }

      & input:checked+svg {

        .line--1,
        .line--3 {
          --length: 22.627416998;
          --offset: -94.1149185097;
        }

        .line--2 {
          --length: 0;
          --offset: -50;
        }
      }

      & .line--1,
      & .line--3 {
        --total-length: 126.64183044433594;
      }

      & .line--2 {
        --total-length: 70;
      }

      &:hover circle {
        opacity: 1;
      }
    }
  }

  &.extra__line {
    & .menu__nav {
      & li {
        position: relative;

        &.current_page_ancestor::before,
        &.current_page_item::before,
        &:not(.menu-item-has-children):hover::before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          animation: nav-underline 500ms;
          animation-timing-function: ease;
          animation-iteration-count: 1;
        }
      }
    }
  }

  #ecp_submenu_icon {
    position: absolute;
    visibility: hidden;
    z-index: -99999;
  }
}

.ecp__mm__submenu__icon {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

