.ecp__container__toggle2 {
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  & * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  & .collapsible {

    &__head {
      display: flex;
      width: 100%;
      cursor: pointer;
      gap: var(--gap, 0);
      flex-wrap: var(--flex-wrap, nowrap);
      align-items: var(--align-items, start);
      flex-direction: var(--flex-direction, col);
      justify-content: var(--justify-content, flex-start);

      & > h2 {
        margin: 0;
      }
    }

    &__content {
      position: relative;
      display: none;
    }

    &__input {
      display: none;
    }
  }
}
