@keyframes nav-underline {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes collapse {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes expand {
  0% {
    max-height: 1px;
  }

  100% {
    max-height: 200vh;
  }
}

@keyframes collaps {
  0% {
    max-height: 200vh;
  }

  100% {
    max-height: 1px;
  }
}

.d-flex {
  display: flex !important;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ecp__text__nowrap {
  white-space: nowrap;
}

.ecp__additional__box {
  position: fixed;
  visibility: hidden;
  z-index: -9999;
}

.ecp__overflow {
  overflow-x: auto !important;
  scrollbar-width: none;
  user-select: none;
  cursor: pointer;
}

.ecp__overflow::-webkit-scrollbar {
  display: none;
}

.post-password-form {
  width: 100vw;
  height: 100vh;
  background-color: #091D1D !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
