.ecp__container__sc {
  & .ecp__container__actions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 999;

    & .ecp__actions__btn {
      cursor: pointer;
    }
  }

  & .ecp__container {
    &__card {
      display: flex;
      flex-direction: var(--flex-direction, col);
      align-items: var(--align-items, center);
      justify-content: var(--justify-content, flex-start);
      gap: var(--gap, 1rem);
      flex-wrap: var(--flex-wrap, nowrap);
      box-sizing: border-box;

      & .ecp__card__btn{
        cursor: pointer;
      }

      &:not(.swiper-slide-active) {
        opacity: 0 !important;
      }

      & .ecp__slide__card__inner {
        display: flex;
        flex-direction: var(--flex-direction, col);
        align-items: var(--align-items, center);
        justify-content: var(--justify-content, flex-start);
        gap: var(--gap, 1rem);
        flex-wrap: var(--flex-wrap, nowrap);
        z-index: 999;
      }
    }
  }

  & .ecp__card__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  & .ecp__slide__card__helper {
    z-index: 999;
    max-width: 1414px;
    padding: 0 24px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: end;
  }

  .ecp__actions__btn {
    display: flex;
    outline: 1px solid #ccc;
    border-radius: 4px;
    padding: 9px 13px;

    &:hover {
      outline: 2px solid #0B51C1;

      & i {
        color: #0B51C1;
      }
    }
  }
}

.container__pagination.swiper-pagination > .swiper-pagination-bullet {
  transition: all 0.3s !important;
}
